%section.register.container
  .row
    .col-sm-6.col-sm-offset-3
      = bootstrap_form_for @user, html: { class: 'form-horizontal', id: 'payment-form' }, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f|
        %header
          %h1 Register
        %fieldset
          = f.email_field  :email, placeholder: 'name@example.com'
          = f.password_field :password, help: 'Must be at least 6 characters long'
          = f.text_field :full_name, label: 'Full Name', help: 'Same name as on credit card to be used'
          = f.submit value: 'Sign Up', class: 'btn btn-default'
