%section.troop.container
  .row
    .col-sm-10-col-sm-offset-1
      %article
        = bootstrap_form_for @troop, class: 'troop', layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-6' do |f|
          %header
            %h1 Enter Troop Information Here:
          %fieldset
            = f.number_field :number, control_col: 'col-sm-2'
            = f.text_field :location, placeholder: 'Please enter city and state'
            = f.text_field :charter_sponsor, placeholder: 'Please enter faith-based, civic or educational organization name'
          %fieldset
            .form-group
              %label.control-label.col-sm-3 Inception Year
              .col-sm-2.col-sm-offset-0
                = select_year @troop.inception_year, {  :prompt => 'Year',
                                                        :start_year => Date.today.year + 1,
                                                        :end_year => Date.today.year - 120,
                                                        :field_name => :inception_year,
                                                        :prefix => :troop },
                                                        class:'form-control'
            .form-group
              %label
              .col-sm-2.col-sm-offset-3
                = f.submit value: 'Add Troop', class: 'btn btn-default'